nav {
    background-color: #ffc0cb;
    padding: 10px;

}

nav ul {
    display: inline-flex;

}

nav li {

    padding: 15px;
    list-style: none;

}

nav li:hover {
    background-color: blue;

}

nav a {

    color: #ffffff;
    font-size: 25px;

}

footer h4 {

    text-align: center;
    color: #ffc0cb;
}


